.loginContainer{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2%;
    margin-top:10%;
}
.errMsg{
  color:red;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  background:white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}